@charset "utf-8";

.board {
  padding: 2rem;
}

.list-container {
  $root: '.list'; 
  padding: 2rem;

  #{$root}-title {
    font-size: 2rem;
    font-weight: bold;
  }

  #{$root} {
    width: 50%;
    min-width: 500px;
    margin-top: 2rem;
    padding: 0;
  }

  #{$root}-item {
    display: flex;
    margin-top: 0.5rem;

    &__date {
      margin-left: auto;
    }

    .label {
      color: blueviolet;
    }
  }

  .btn-delete {
    margin-left: 10px;
    border: none;
  }
}