<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/common.css">

    <title>Node</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">GJ Node</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Write</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="list-container">
      <h1 class="list-title">To Do List</h1>
      <ul class="list">
        <% for(var i = 0; i < posts_.length; i++){ %>

          <li class="list-item">
            <strong class="list-item__title"><span class="label">to do /</span> <%= posts_[i].title %></strong>
            <!--  <%=  %> -->
            <span class="list-item__date"><%= posts_[i].date %></span>
            <button class="btn-delete" data-id="<%= posts_[i]._id %>">x</button>
          </li>
        <% } %>
      </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $('.btn-delete').click(function(e){
        let btnNum = e.target.dataset.id;
        let this_ = $(this);

        $.ajax({

          method: 'DELETE',
          url: '/delete',
          data: {_id: btnNum}

        }).done(function(result){ 

          console.log('성공했어요');
          // 페이지를 강제로 새로고침 reload
          // 클릭된 li 요소 제거
          this_.parent('li').fadeOut();

        }).fail(function(a, b, c){

          console.log('실패했어요');
          console.log(a, b, c);
          //a_ xhr 
          //b_ textStatus : 응답코드
          //c_ errorThrown : 에러 메세지

        })
      })
    </script>
  </body>
</html>